$primary:      #94B43B;
$primary-dark: #466B3F;
$blue:         #1e6dc1;
$blue-dark:    #2e3aa0;
$green:        #37b792;
$yellow:       #f4b73d;
$cream:        #f2e7cc;
$red-light:    #fdedea;
$red:          #e85335;
$purple:       #b6117f;
$black:        #000;
$grey0:        #232526;
$grey1:        #565a5c;
$grey2:        #999999;
$grey3:        #b1b2b0;
$grey4:        #dfdfdf;
$grey5:        #efefef;
$white:        #fff;
