@import 'colors';

.ancizar-font {
  font-family: "AncizarSans";
}

.text-italic {
  font-style: italic;
}

.text-black {
  font-weight: 900;
}

.text-bold {
  font-weight: 700;
}

.text-extrabold {
  font-weight: 800;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-primary {
  color: $primary;
}

.text-primary-dark {
  color: $primary-dark;
}

.text-blue {
  color: $blue;
}

.text-blue-dark {
  color: $blue-dark;
}

.text-green {
  color: $green;
}

.text-yellow {
  color: $yellow;
}

.text-cream {
  color: $cream;
}

.text-red-light {
  color: $red-light;
}

.text-red {
  color: $red;
}

.text-purple {
  color: $purple;
}

.text-black {
  color: $black;
}

.text-grey0 {
  color: $grey0;
}

.text-grey1 {
  color: $grey1;
}

.text-grey2 {
  color: $grey2;
}

.text-grey3 {
  color: $grey3;
}

.text-grey4 {
  color: $grey4;
}

.text-grey5 {
  color: $grey5;
}

.text-white {
  color: $white;
}

