@font-face {
  font-family: "AncizarSans";
  src: url("../assets/ancizar-font/Ancizar-Sans-Light-300.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "AncizarSans";
  src: url("../assets/ancizar-font/Ancizar-Sans-Light-300-I.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "AncizarSans";
  src: url("../assets/ancizar-font/Ancizar-Sans-Regular-400.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AncizarSans";
  src: url("../assets/ancizar-font/Ancizar-Sans-Regular-400-I.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "AncizarSans";
  src: url("../assets/ancizar-font/Ancizar-Sans-Bold-700.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AncizarSans";
  src: url("../assets/ancizar-font/Ancizar-Sans-Bold-700-I.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "AncizarSans";
  src: url("../assets/ancizar-font/Ancizar-Sans-Extrabold-800.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "AncizarSans";
  src: url("../assets/ancizar-font/Ancizar-Sans-Extrabold-800-I.otf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "AncizarSans";
  src: url("../assets/ancizar-font/Ancizar-Sans-Black-900.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "AncizarSans";
  src: url("../assets/ancizar-font/Ancizar-Sans-Black-900-I.otf");
  font-weight: 900;
  font-style: italic;
}

